body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; 
}

header, footer {
    background: linear-gradient(90deg, #007bff, #0056b3); /* Degradado azul */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.modal-content {
    border-radius: 0.5rem; 
}

footer {
    padding: 2rem 0;
    border-top: 1px solid #e9ecef; 
}

.container, .modal-body {
    max-width: 1200px;
}

.nav-link.active, .nav-link:hover {
    color: #ffffff; /* Cambiar a blanco para contraste en el degradado */
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}

.container {
    padding: 0 1rem; 
}

.social-icons img {
    width: 30px;
    margin: 0 0.5rem; 
}

/* Estilos para imágenes con carga diferida */
img[loading="lazy"] {
    display: block;
    width: 100%;
    height: auto;
}
